{{ define "Index" }}

{{ template "header" }}
    <div>
<p>Истинно, истинно говорю вам, придет век меча и топора, век волчьей пурги. Придет Час Белого Хлада и Белого Света. Час Безумия и Час Презрения, Tedd Deireádh, Час Конца. Мир умрет, погруженный во мрак, и возродится вместе с новым солнцем. Возродится из Старшая Кровь, из Hen Ichaer, из зерна засеянного. Зерна, кое не прорастет, не проклюнется, но возгорится пламенем.</p>p

<p><Ess'tuath esse! Да будет так! Внимайте знамениям! А каковы будут знамения, реку вам - сперва изойдет земля кровью Aen Seidhe, Кровью Эльфов...</p>
    </div>
{{ template "footer" }}

{{ end }}}